# Ignore node_modules folder
data/

# Ignore all log files
*.log
*.csv
*.xlsx

# Ignore environment variables
.env

# Ignore compiled Python files
*.pyc

# Ignore system files
.DS_Store
*.csv
*.png
/selenium
__pycache__/
*.txt
.env
.vscode/
hm/

*.xlsx
*.docx
High_margin.code-workspace
*.zip
chromedriver-mac-arm64
chromedriver
ssh-remote+34.31.142.51:.inetloc
*.txt
*.json
