# Ignore node_modules folder
data/

# Ignore all log files
*.log
*.csv
*.xlsx

# Ignore environment variables
.env

# Ignore compiled Python files
*.pyc

# Ignore system files
.DS_Store
*.csv
*.png
/selenium
__pycache__/
*.txt
.env
.vscode/
hm/

*.xlsx
*.docx